*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.hero{
    padding: 50px 0px;
}

.container{
    /* background-color: aqua; */
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    gap: 50px;   

}

div.work img{
    transition: all .5s;
}

.work:hover{
    box-shadow: 10px 0px 10px gray;
}

.work img:hover{   
   transform: translateY(-25px);    
}